@import "tailwindcss";

@theme {
  --color-Navy-850: hsl(217, 28%, 15%);
  --color-Navy-900: hsl(218, 28%, 13%);
  --color-Navy-950: hsl(216, 53%, 9%);
  --color-Navy-800: hsl(219, 30%, 18%);
  --color-Teal-200: hsl(176, 68%, 64%);
  --color-Cyan-500: hsl(198, 60%, 50%);
  --color-Red-500-error: hsl(0, 100%, 63%);
  --color-White: hsl(0, 0%, 100%);
}